/* MarkdownEditor.module.scss */
.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  height: 100vh;
}

.darkMode {
  background-color: #2d2d2d;
  color: #f1f1f1;
}
.editorContainer {
  display: flex;
  height: 100%;
}

.editor {
  width: 50%;
  padding: 15px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  resize: none;
  background-color: #f1f1f1;
}

.previewContainer {
  width: 50%;
  overflow-y: auto;
  padding: 15px;
  font-family: "Arial", sans-serif;
}

.separator {
  width: 1px;
  height: 100%;
  background-color: #ddd;
  cursor: ew-resize;
}

.customCodeBlock {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  overflow: auto;
  border: 1px solid #ddd;
}
