/* Ensure Tailwind CSS is installed and configured */
@tailwind base;
@tailwind components;
@tailwind utilities;



@import "./theme/dark.css";
@import "./theme/light.css";
@import "./var.css";

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-1);
  color: var(--text-1);
}

html {
  font-size: clamp(14px, 1vw, 16px);
}
/* 恢复默认标题大小 */
h1 {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 700; /* font-bold */
}
h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600; /* font-semibold */
}
h3 {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
}
h4 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 500; /* font-medium */
}
h5 {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500; /* font-medium */
}
h6 {
  font-size: 1rem; /* text-base */
  font-weight: 500; /* font-medium */
}
/* In your global CSS or tailwind styles */
ul, ol {
  list-style-type: disc; /* Set default list-style for ul */
  padding-left: 1.5rem;  /* Add padding for indented lists */
}

ol {
  list-style-type: decimal; /* Set decimal numbers for ol */
}

li {
  margin-bottom: 0.5rem; /* Add some space between list items */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out forwards;
}
