/* Ensure Tailwind CSS is installed and configured */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './theme/dark.css';
@import './theme/light.css';
@import './theme/system.css';
@import './var.css';

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-1);
    color: var(--text-1);
}
html{
    font-size: clamp(14px, 1vw, 18px); 
}